@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body{
  color: #333;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
ol, ul, li{
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
select{
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
a{
  text-decoration: none;
  color: #333;
}
a img{
  transition:all 0.3s;
}
a img:hover{
  opacity: 0.7;
}
*{box-sizing: border-box;}

/*共通部分ここから*/
.contents{
  padding-top: 60px;
}
.inner{
  width: 960px;
  margin: 0 auto;
}
.item-list li:nth-child(n + 11){
  display: none;
}
.sidebar-list li:nth-child(n + 4){
  display: none;
}
.slide-btn{
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  background-size: cover;
  cursor: pointer;
  display: block;
  z-index: 10;
}
.prev-btn{
  left: 0;
  background: url(../img/arrow_prev.png) no-repeat center/cover;
}
.next-btn{
  right: 0;
  background: url(../img/arrow_next.png) no-repeat center/cover;
}
.slick-slide{
  margin: 0 20px;
}
.slick-dots li.slick-active button:before{
  color: #24b99f;
}
[data-fadeIn]{
  opacity: 0;
  transition: all 1.6s;
  transform: translateY(150px);
}
[data-fadeIn].is-over{
  opacity: 1;
  transform: translateY(0);
}

/*ヘッダー部分ここから*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
  z-index: 100;
  background: #fff;
}
.header img{
  width: 100%;
  display: block;
}
.header-inner{
  position: relative;
  margin: 0 auto;
  height: 100%;
}
.logo{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.menu{
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-50%);
  font-size: 13px;
}
.menu a{
  display: inline-block;
  margin-right: 15px;
}
.menu a:last-child{
  margin-right: 0;
}
.word-search{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 10px 8px 40px;
  font-size: 15px;
  background: url(../img/icon_search.svg) 10px center no-repeat;
  background-size: 18px;
  outline: none;
  transition: all 0.3s;
}
.word-search.is-cursor{
  width: 250px;
  border: 1px solid #333;
}
.word-submit{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  width: 30px;
  height: 50%;
  z-index: 1;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.controls{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.controls-cart{
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
}
.controls-cart .cart-batch{
  position: absolute;
  top: -9px;
  right: -15px;
  background: orange;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}

/*アイテムセクションここから*/
.c-section{
  margin: 0 auto 60px auto;
}
.c-section-head{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.c-section-title{
  font-size: 30px;
  font-weight: bold;
}
.more-link{
  position: relative;
  color: #2996cc;
  font-weight: bold;
  font-size: 16px;
  padding-right: 15px;
}
.more-link:after{
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #2996cc;
  border-right: 2px solid #2996cc;
  transform: rotate(45deg) translateY(-50%);
}
.item-list{
  display: flex;
  flex-wrap:wrap;
}
.item{
  position: relative;
  width: calc(100% / 5);
  margin-bottom: 20px;
}
.item img{
  width: 100%;
  display: block;
}
.item-cap{
  margin-bottom: 5px;
}
.item-info{
  padding: 0 3px;
}
.item-name{
  font-weight: bold;
  font-size: 16px;
}
.item-text{
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  overflow: hidden;
  font-size: 13px;
}
.item-price{
  margin-top: 5px;
  font-weight: bold;
}

/*ピックアップ部分ここから*/
.thumbnail-list{
  justify-content: space-between;
}
.thumbnail-list .item{
  width: calc(100% / 2 - 10px);
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.thumbnail-list .item a{
  display: flex;
}
.thumbnail-list .item-cap{
  width: 100px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 0;
}
.thumbnail-list .item-info{
  width: calc(100% - 100px - 15px);
}

/*BRAND部分ここから*/
.c-brand{
  background-image:linear-gradient(-225deg, #2CD8D5 0%, #9891ff 56%, #FFBAC3 100%);
  padding: 50px 30px;
  margin-bottom: 80px;
  overflow: hidden;
}
.brand-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap:10px 10px;
}
.brand-list li{
  background: #fff;
  border-radius: 8px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.brand-list li a{
  display: block;
}

/*フッターここから*/
.footer{
  background: #333;
}
.footer a{
  color: #fff;
}
.footer-logo{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.footer-inner{
  padding: 50px 0;
}
.footer img{
  width: 100%;
}
.sns{
  text-align: center;
}
.sns li{
  display: inline-block;
  margin: 0 10px;
}
.sns li a{
  display: flex;
  align-items: center;
}
.sns li .sns-icon{
  width: 25px;
  margin-right: 10px;
}
.footer-link{
  background: #000;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.footer-link li{
  display: inline-block;
  margin: 0 10px;
}

/*モーダルここから*/
.modal-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: rgba(255,255,255,0.95);
  z-index: 30;
  display: none;
}
.modal-inner{
  position: absolute;
  width: 600px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.modal-close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  cursor: pointer;
}
.modal-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-inner .item-list{
  max-height: 50vh;
  overflow: scroll; 
}
.modal-inner .item-list .item{
  width: 100%;
}
.cart-total{
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
}
.cart-total-price{
  color: #e73656;
}
.cart-delete{
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  bottom: 0;
  width: 20px;
}
.cart-delete img{
  width: 100%;
}

/*サークルバナーここから*/
.circle-banner{
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 150px;
  z-index: 10;
  transition: all 0.5s;
  transform: translateX(100%) rotate(90deg);
}
.circle-banner img{
  width: 100%;
}
.circle-banner.is-over{
  right: 10px;
  transform: translateX(0) rotate(0);
}

.flash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: green;
  font-weight: bold;
  z-index: 100;
}

@media screen and (max-width: 768px){
  
  /*スマホ共通ここから*/
  .contents{
    padding-top: 45px;
  }
  .inner{
    width: auto;
    margin: 0 10px;
  }
  .slick-slide{
    margin: 0 0;
  }

  /*ヘッダーここから*/
  .header{
    height: 45px;
  }
  .header-links{
    position: fixed;
    width: 100%;
    top: 45px;
    left: 100%;
    background: rgba(255,255,255,0.95);
    height: 100vh;
    z-index: 10;
    transition: all 0.4s;
  }
  .logo{
    width: 70px;
  }
  .menu{
    top: 40%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
  }
  .word-search{
    width: 160px;
    left: 100px;
    font-size: 11px;
  }
  .word-search.is-cursor{
    width: 180px;
  }
  .word-submit{
    left: 100px;
  }
  .controls{
    right: 50%;
    transform: translate(50%, -50%);
  }
  .menu-trigger{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s;
    width: 30px;
    height: 20px;
    z-index: 100;
    display: block;
  }
  .menu-trigger span{
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
  }
  .menu-trigger span:nth-of-type(1){
    top: 0;
  }
  .menu-trigger span:nth-of-type(2){
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-trigger span:nth-of-type(3){
    bottom: 0;
  }

  /*jsで変更される箇所*/
  .header-links.is-active{
    left: 0;
  }
  .menu-trigger.is-active span:nth-of-type(1){
    transform: translateY(9px) rotate(-315deg);
  }
  .menu-trigger.is-active span:nth-of-type(2){
    opacity: 0;
  }
  .menu-trigger.is-active span:nth-of-type(3){
    transform: translateY(-9px) rotate(315deg);
  }
  
  /*【スマホ】アイテムセクションここから*/
  .c-section-title{
    font-size: 20px;
  }
  .more-link{
    font-size: 13px;
  }
  .item{
    width: calc(100% / 2);
  }
  .item-name{
    font-size: 13px;
  }

  /*【スマホ】ピックアップ部分ここから*/
  .thumbnail-list .item{
    width: auto;
  }

  /*【スマホ】BRAND部分ここから*/
  .c-brand{
    padding: 25px 15px;
    margin-bottom: 80px;
  }
  .brand-list{
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
  .brand-list li{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
  
  /*【スマホ】フッターここから*/
  .footer-inner{
    padding: 30px 0;
  }
  .sns li{
    font-size: 10px;
  }
  .footer-link li{
    font-size: 10px;
    margin: 0 3px;
  }
  
  /*【スマホ】モーダルここから*/
  .modal-inner{
    width: 80%;
  }
  

}










